ウィンドウの高さを可変にする:NO
描画インターフェース:TEXTRENDERER
ウィンドウ幅:1000
ウィンドウ高さ:900
起動時のウィンドウ位置を指定する:NO
起動時にウィンドウを最大化する:NO
履歴ログの行数:5000
PRINTCを並べる数:5
PRINTCの文字数:30
フォント名:ＭＳ ゴシック
フォントサイズ:16
一行の高さ:24
文字色:211,218,224
背景色:34,34,34
選択中文字色:168,255,226
履歴文字色:172,170,191
表示する最低警告レベル:0
セーブデータをsavフォルダ内に作成する:YES
全角スペースをホワイトスペースに含める:NO
